#overlay {
    position: fixed;
    height: 100%;
    width: 20%;
    z-index: 3;
    top: 0;
    left: 0;
}

#overlay2 {
    position: fixed;
    height: 100%;
    width: 20%;
    z-index: 4;
    top: 0;
    left: 0;
}

#hoverLabel {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    display: inline-block;
    background: white;
    border: solid;
    visibility: hidden;
    padding: 2px;
}

#informationLabel {
    position: absolute;
    z-index: 6;
    top: 0;
    left: 0;
    display: inline-block;
    background: white;
    border: solid;
    visibility: hidden;
    padding: 2px;
}

#informationLabel p {
    padding: 0;
    margin: 0;
}

#ex1Slider .slider-selection {
    background: #BABABA;
}

#ex1Slider2 .slider-selection {
    background: #BABABA;
}

.spanBold {
    font-weight: bold;
}

p {
    margin: 0px;
    padding: 0px;
}

div .panel-heading {
    margin: 2px;
    padding: 0px;
    padding-left: 10px;
}

div .panel-body {
    margin: 2px;
    padding: 2px;
}

.btn {
    margin: 2px;
    padding: 2px;
}
