#overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 3;
    top: 0;
    left: 0;
}

#hoverLabel {
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    display: inline-block;
    background: white;
    visibility: hidden;

}

#informationLabel {
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    display: inline-block;
    background: white;
    border: solid;
    visibility: hidden;
}

#informationLabel p {
    padding: 0;
    margin: 0;
}

#ex1Slider .slider-selection {
	background: #BABABA;
}
